.list_body button {
    width: 10%;
margin-left: 368px;
}


.list_body .change{
    display: block;
}

.list_body .change input {
    display: block;
    margin: 20px auto;
}

.list_body .change {
    margin: 20px auto;
    margin-bottom: 0px;
} 
