<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>二手市场</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/goods_message.css" >
    <link rel="shortcut icon" href="/static/img/favicon.ico">
</head>
<body>
    <div class="main_head">
            <P>欢迎您，{{ request.session.username }}</P>
            <button type="button" class="btn btn-default"><a href="/logout/" >退出</a></button>
        <div class="main">
            <a class="btn btn-link"  href="/user_center/" >| 用户中心</a>
        </div>
        <div class="main">
            <a class="btn btn-link"  href="/shop/main/" >首页</a>
        </div>
    </div>
    <div class="title">
        <div class="second_title">
            <div class="find">
                <input type="text" class="form-control" id="find" >
                <a type="button" class="btn btn-warning" id="find-button" href="javascript:void(0);" onclick="go_search()">
                </a>
                <button type="button" class="btn btn-warning"><a href="/shop/release_goods/">发布商品</a></button>
            </div>
        </div>    
    </div>
    <div class="top">
        <a href="#"><img src="/static/img/top.png"></a>
    </div>
    <div class="message">
        <p class="text-center">发布商品</p>
        <hr>
        <form method="post" action="/shop/release/" enctype="multipart/form-data">
            {% csrf_token %}
            <ol>
                <li>
                    <p>商品名称</p>
                    <input type="text" name="title">
                </li>
                <li>
                    <p>商品分类</p>
                    <select class="input-lg" name="type">
                        <option value="book">书籍</option>
                        <option value="cloth">服装</option>
                        <option value="digital">电子数码</option>
                        <option value="game">游戏</option>
                        <option value="daily">日用百货</option>
                        <option value="other">其它</option>
                    </select>
                </li>
                <li>
                    <p>期望成交价</p>
                    <input type="text" name="price">
                </li>
                <li>
                    <p>商品数量</p>
                    <input type="number" name="number" min="0">
                </li>
                <li>
                    <p>商品图片</p>
                    <input type="file" id="inputfile" name="picture">
                </li>
                <li>
                    <P>详细描述</P>
                    <textarea rows="15" name="description" maxlength="100"></textarea>
                </li>
            </ol>
            <input type="submit" class="sumbit btn btn-default" style="width: 100px" value="提交">
        </form>
    </div>

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/search.js"></script>
</body>
</html>