<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购物车</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/cart.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
</head>
<body>
    <div class="main_head">
            <P>欢迎您，{{ request.session.username }}</P>
            <button type="button" class="btn btn-default"><a href="/logout/" >退出</a></button>
        <div class="main">
            <a class="btn btn-link"  href="/user_center/" >| 用户中心</a>
        </div>
        <div class="main">
            <a class="btn btn-link"  href="/shop/main/" >首页</a>
        </div>
    </div>
    <div class="total_count">全部商品<em id="count">{{ total }}</em>种</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品图片</li>
		<li class="col02">商品名称</li>
		<li class="col03">商品类型</li>
		<li class="col04">商品价格</li>
		<li class="col05">数量</li>
		<li class="col06">操作</li>
	</ul>
	<form action="/order/place_order_more/">
    {% for one in carts %}
	<ul class="cart_list_td clearfix">
		<li class="col01"><input type="checkbox" class="goods_check" name="goods_{{ one.goods.id }}_{{ one.id }}"></li>
		<li class="col02"><img src="/static/{{ one.goods.picture }}"></li>
		<li class="col03">{{ one.goods.title }}</li>
		<li class="col04">{{ one.goods.type }}</li>
		<li class="col05">{{ one.price }}元</li>
		<li class="col06">
			<div class="num_add">
				<input type="number" class="num_show fl" value="{{ one.number }}" name="count_{{ one.goods.id }}" min="0">	
			</div>
		</li>
		<li class="col07"><a href="/delete_cart?id={{ one.goods_id }}">删除</a></li>
	</ul>
	{% empty %}
                <span style="margin-left: 100px;font-size: large;color: red;">目前没有商品</span>
    {% endfor %}
	<ul class="settlements">
		<li class="col01"><input type="checkbox" id="boxall"></li>
		<li class="col02">全选</li>
		<li class="col03">单价总计(不含运费):<span>¥</span><em id="total_mount">{{ total_price }}</em><br>共计<b id="total_num">{{ total }}</b>种商品</li>
		<li class="col04"><input type="submit" value="去结算"></li>
	</ul>
	</form>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/cart.js"></script>
</body>
</html>