<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>二手市场登录</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
</head>
<body>
    <div class="log_in">
        <p class="text-center">登录</p>
        <form action="/login_handle/" method="post">
            {% csrf_token %}
            <input type="text"  placeholder="请输入账号" name="name" class="name" id="name" value="{{ name }}" />

            {% if error_msg != '' %}
                <div class="user_error">{{ error_msg }}</div>
            {% endif %}
            <input type="password"  placeholder="请输入密码" name="password"  class="password" id="password" value="{{ password }}"/>

            <a href="/reset_password/">忘记密码？</a><br>
            <a href="/register/">没有账号？立即注册</a>
            <input type="submit" class="btn btn-default" id="logon_btn" value="确认登录">
        </form>
    </div>


</body>
</html>