<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>重置密码</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="reset">
        <p class="text-center">重置密码</p>
        <form action="/reset_password_handle/"  method="post">
            {% csrf_token %}
            {{ error_msg }}
        <input type="text"  placeholder="用户名" name="username" class="username" id="username""/>
        <span class="error_tip">提示信息</span>
        <input type="password"  placeholder="新密码" name="password"  class="password" id="password"/>
        <span class="error_tip">提示信息</span>
        <input type="password"  placeholder="确认密码" name="password2"  class="password2" id="password2"/>
        <span class="error_tip">提示信息</span>
        <div class="wrapper">
            <div class="inputBox">
                <input type="text" placeholder="请输入验证码" />
            </div>
            <p class="error">错误</p>
            <div class="canvasbox">
                <div class="imgbox">
                    <canvas id="canvas" width="120" height="40"></canvas>
                </div>
                <!--刷新-->
                <a href="" onclick="reload()">看不清?换一张</a>
            </div>
        </div>
        <button class="submit" type="submit">确认重置</button>
        </form>
    </div>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/reset_password.js"></script>
</body>
</html>