<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户中心</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/user_center.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/list.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
</head>
<body>
    <div class="main_head">
            <P>欢迎您，{{ request.session.username }}</P>
            <button type="button" class="btn btn-default"><a href="/logout/">退出</a></button>
        <div class="main">
            <a class="btn btn-link"  href="/user_center/">| 用户中心</a>
        </div>
        <div class="main">
            <a class="btn btn-link"  href="/shop/main/">首页</a>
        </div>
    </div>
    <div class="title">
        <div class="second_title">
            <div class="find">
                <input type="text" class="form-control" id="find" >
                <a type="button" class="btn btn-warning" id="find-button" href="javascript:void(0);" onclick="go_search()">
                </a>
                <button type="button" class="btn btn-warning"><a href="/shop/release_goods/">发布商品</a></button>
            </div>
        </div>    
    </div>
    <div class="top">
        <a href="#"><img src="/static/img/top.png"></a>
    </div>
    <div class="list">
        <div class="list_main "> 
            <ul class="list-group">
                <li class="list-group-item"><a href="/user_center/">个人资料</a></li>
                <li class="list-group-item"><a href="/my_post/">我的发布</a></li>
                <li class="list-group-item"><a href="/my_cart/">我的购物车</a></li>
                <li class="list-group-item"><a href="/my_order/">我的订单</a></li>
                <li class="list-group-item"><a href="/collection/">我的收藏</a></li>
                <li class="list-group-item"><a href="/change_password/">修改密码</a></li>
            </ul>
        </div>
        <div class="list_body">
            <p class="text-center">个人资料</p>
            <hr>
            {% if user.picture %}
            <img src="/static/{{ user.picture }}" style="height: 400px; width: 300px" class="img">
            {% else %}
            <p>暂无背景图</p>
            {% endif %}
            <p>昵称：<span>{{ user.username }}</span></p>
            <p>性别：<span>{{ user.sex }}</span></p>
            <p>联系电话：<span>{{ user.phone }}</span></p>
            <p>收货地址:<span>{{ user.address }}</span></p>
            <button type="button" class="btn btn-default"><a href="/user_change/">修改个人资料</a></button>
        </div>
      
    </div>
    

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/search.js"></script>
</body>
</html>